.greece{
    background-image: url(../assets/pictures/greece.jpg);
    background-size: cover;
    background-position: center;
}
.hawaii{
    background-image: url(../assets/pictures/hawaii.jpg);
    background-size: cover;
    background-position: center;
}
.iceland{
    background-image: url(../assets/pictures/iceland.jpg);
    background-size: cover;
    background-position: center;
}
.destination__card-row{
    display: flex;
    justify-content: center;
    padding-bottom: 7.5rem;
}
.destination__card{
    background-color: #FFFFFF;
    width: 15.625rem;
    height: 23.125rem;
    border-radius: 0.3125rem;
    margin: 0 1.25rem;
    font-size: 1.3125rem;
    font-weight: bold;
}

.destination__title{
    color: #FFFFFF;
    font-size: 4.375rem;
    padding: 7.5rem 6.25rem 3.125rem 6.25rem;
}
.destination__card--list{
    list-style-type: none;
    text-align: center;
}
.destination__card--activity{
    font-size: 1rem;
    color: black;
    font-weight: normal;
    background-color: #fefaf5;
    padding: 0.8125rem 0rem ;
    margin: 0 0.9375rem 0.9375rem 0.9375rem;
}
.destination__card--day{
    color: black;
    border-bottom: 0.125rem solid black;
    padding: 0.9375rem 1.25rem 0 1.25rem;
    margin: 0rem 0.9375rem 1.875rem 0.9375rem;
    font-size: 1.25rem;
}