.hero{
    background-color: #fefaf5;
    display: flex;
    justify-content: space-between;
}
.hero__title{
    font-size: 2.1875rem;
    margin-top: 6.25rem;
    margin-bottom: 1.875rem;
}
.hero__content{
    margin-left: 6.25rem;
    margin-top: 5rem;
}
.hero__text{
    font-size: 0.875rem;
    width: 90%;
    text-align: left;
}
.hero__image{
    max-width: 40%;
    margin: 7.5rem 4.375rem 4.375rem 6.25rem;
}
.hero__button{
    background-color: #DB7A4E;
    border-style: none;
    padding: 0.5625rem 2.3125rem 0.5625rem 2.3125rem;
    border-radius: 1.25rem;
    margin-top: 1.875rem;
}
.hero__button-text{
    text-decoration: none;
    color: #FFFFFF;
}
.recommendations__title{
    margin-left: 6.25rem;
    margin-top: 2.5rem;
    margin-bottom: 1.875rem;
}
.recommendations__card-row{
    display: flex;
    justify-content: center;
    margin-bottom: 5.625rem;
    flex-wrap: wrap;
}
.recommendations__card{
    width: 15.625rem;
    height: 23.125rem;
    border-radius: 0.3125rem;
    border: solid 0.0625rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
    margin: 0 1.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.3125rem;
    font-weight:bold;
}
.recommendations__card:hover{
    border: solid 0.0625rem blue;
    transition: .5s;
}
.recommendations__card--hawaii-image{
    background-image:url(../assets/pictures/hawaii.jpg);
    background-size: cover;
}
.recommendations__card--iceland-image{
    background-image:url(../assets/pictures/iceland.jpg);
    background-size: cover;
}
.recommendations__card--greece-image{
    background-image:url(../assets/pictures/greece.jpg);
    background-size: cover;
}
.recommendations__card--white-text{
    color: #FFFFFF;
    margin-bottom: 0.9375rem;
    margin-right: 0.9375rem;
}
.recommendations__card--underline-remove{
    text-decoration: none;
}
